# Use this file to create a conda environment using:
# conda create -n metabolabpy python=3.9 --file conda-requirements.txt -c bioconda
#

numpy
scipy
matplotlib
openpyxl
pyside2
pyautogui
qtmodern
jupyter
multiprocess
jupyterthemes
