include README.rst
include LICENSE
include requirements.txt
include README.md
include metabolabpy/ui/*
include metabolabpy/icon/*
include metabolabpy/png/*
include metabolabpy/exampleScripts/*
include metabolabpy/nmr/web/*
include metabolabpy/nmr/web/*/*
include metabolabpy/nmr/web/*/*/*
