include README.rst
include LICENSE
include requirements.txt
include README.md
include metabolabpy/GUI/*
include metabolabpy/nmr/*
include metabolabpy/icon/*
include metabolabpy/png/*
include metabolabpy/exampleScripts/*
include metabolabpy/nmr/web/*
include metabolabpy/nmr/web/*/*
include metabolabpy/nmr/web/*/*/*
include metabolabpy/mlStarter
include metabolabpy/mlStarter/Contents
include metabolabpy/mlStarter/Icon
include metabolabpy/mlStarter/Contents/*
include metabolabpy/mlStarter/Contents/Resources/*
include metabolabpy/nmr/metabolites/*
include metabolabpy/nmr/reset_metabolites/*
include metabolabpy/nmr/metabolites_png/*
include metabolabpy/nmr/jupyter/*
include metabolabpy/nmr/jupyter/*/*
include metabolabpy/nmr/jupyter/*/*/*
include metabolabpy/nmr/jupyter/*/*/*/*
