#on arm: sudo apt install python3-pyside2*
#on arm then the rest with sudo apt install python3-...
numpy
scipy
matplotlib
pandas
numba
scikit-learn
#install on arm with: pip3 install ...
openpyxl
xlsxwriter
multiprocess
pybaselines
darkdetect
pywavelets
#on arm: then install with : pip3 install metabolabpy --no-deps
pygamma # needs python 3.9
mat73
# on windows, if ssl certificates do not work:
# conda config --set ssl_verify false
# to disable them
